/vendor
/node_modules
Homestead.yaml
Homestead.json
.env.production
public/images
storage/
.DS_Store

/tests
.idea
/nbproject
/app/Http/Controllers/FacebookController.php
/resources/views/pages/facebook.blade.php
/app/FlightStats.php
/app/ApiInfo.php