/* latin-ext */
@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v8/4UaHrEJCrhhnVA3DgluA96Tp56N1.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v8/4UaHrEJCrhhnVA3DgluA96rp5w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.trip_details{
    padding: 20px;
}

.ticket{
    border: 3px solid transparent;
    border-radius: 6px;
    margin-bottom: 10px;
}

.ticket_header{
    margin: 0px;
    background-color: rgba(50, 126, 122, 0.61);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ticket_footer{
    margin: 0px;
    background-color: rgba(50, 126, 122, 0.61);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ticket_header .ticket_big img{
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.ticket_header .ticket_small{
    text-align: center;
    padding-top: 10px;
}

.ticket_header .ticket_small img{
    width: 150px;
    height: auto;
}

.ticket_big{
    border-right: 3px dotted #bcfff8;
}

.ticket_body{
    margin: 0px;
    background-color: #dddddd;
}

.ticket_body .ticket_big , .ticket_body .ticket_small{
    padding-top: 10px;
    padding-bottom: 10px;
}

.qr_code{
    float: right;
}

.qr_code img{
    height: 35px;
    width:auto;
}

.ticket_big .pass_name{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ticket_small .pass_name{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ticket_title{
    font-weight: bold;
    display: block;
}

.ticket_big .ticket_details{
    font-size: 12px;
    margin-bottom: 10px;
}

.ticket_small .ticket_details{
    font-size: 6px;
}

.trip_title{
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    margin-bottom: 12px;
}

.trip_title i{
    margin-right: 15px;
}

.hotel_content{
    font-size: 15px;
}

.hotel_content img{
    width: 300px;
    height: auto;
}

.hotel_content_title{
    font-weight: bold;
    font-size: 15px;
}

.hotel_content_image{
    margin-bottom: 10px;
}

.fa-link, .fa-plus-circle{
    float: right;
}

.trip_details{
    text-align: left;
}

.no_hotel_block{
    padding-top:20px;
    margin: 0;
}

.no_hotel_button, .no_hotel_select, .dismatch_btn{
    text-align: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.2);
    padding: .5rem .75rem;
    border-radius: .25rem;
    color: white;
    transition: all 0.2s;
    cursor: pointer;
}

.no_hotel_button{
    background:#4a9afe;
}

.no_hotel_button:hover, .dismatch_btn:hover, .reload-btn:hover, .add-btn:hover{
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.9);
}

.no_hotel_select{
    display: none;
    background: #5c606c;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #2d6098 transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.dismatch_btn{
    margin-top: 10px;
    background: #fe4a5d;
}

.reload-btn{
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    color: white;
    background: #2d6098;
    cursor: pointer;
}

.reload_area{
    border-top: 1px dotted #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.edit_btn{
    font-size:20px;
    text-align:center;
}

.edit_btn i{
    color: #337ab7;
    cursor: pointer;
}
        
.iti_section{
    margin-top: 20px;
    padding-top:20px;
    margin-bottom: 20px;
    border-top: 1px dotted #ccc;
}

.itinerary_boxs{
    margin-top:5px;
}

.flag {
    text-align: center;
    background-color: #070f1012;
}

.table_header{
    background: #cbcbcb;
}

.add_itinerary{
    margin-top: 20px;
}

.add-btn{
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    color: white;
    background: #db7569;
    cursor: pointer;
    transition: 0.2s all;
}